In [1]:
#Pkg.add("DataFrames")
using DataFrames

###DataFrames gives us readtable which loads a csv file into a DatFrame object

In [16]:
 df = readtable("input/weather.csv")

2944x22 DataFrame
| Row  | Station | Date         | Tmax | Tmin | Tavg | Depart | DewPoint |
|------|---------|--------------|------|------|------|--------|----------|
| 1    | 1       | "2007-05-01" | 83   | 50   | "67" | "14"   | 51       |
| 2    | 2       | "2007-05-01" | 84   | 52   | "68" | "M"    | 51       |
| 3    | 1       | "2007-05-02" | 59   | 42   | "51" | "-3"   | 42       |
| 4    | 2       | "2007-05-02" | 60   | 43   | "52" | "M"    | 42       |
| 5    | 1       | "2007-05-03" | 66   | 46   | "56" | " 2"   | 40       |
| 6    | 2       | "2007-05-03" | 67   | 48   | "58" | "M"    | 40       |
| 7    | 1       | "2007-05-04" | 66   | 49   | "58" | " 4"   | 41       |
| 8    | 2       | "2007-05-04" | 78   | 51   | "M"  | "M"    | 42       |
| 9    | 1       | "2007-05-05" | 66   | 53   | "60" | " 5"   | 38       |
| 10   | 2       | "2007-05-05" | 66   | 54   | "60" | "M"    | 39       |
| 11   | 1       | "2007-05-06" | 68   | 49   | "59" | " 4"   | 30       |
⋮
| 2933 | 1       | "2014-10-26" | 64   | 42   | "53" | " 5"   | 32       |
| 2934 | 2       | "2014-10-26" | 66   | 44   | "55" | "M"    | 33       |
| 2935 | 1       | "2014-10-27" | 77   | 51   | "64" | "16"   | 51       |
| 2936 | 2       | "2014-10-27" | 79   | 54   | "67" | "M"    | 52       |
| 2937 | 1       | "2014-10-28" | 68   | 45   | "57" | "10"   | 38       |
| 2938 | 2       | "2014-10-28" | 66   | 48   | "57" | "M"    | 40       |
| 2939 | 1       | "2014-10-29" | 49   | 36   | "43" | "-4"   | 32       |
| 2940 | 2       | "2014-10-29" | 49   | 40   | "45" | "M"    | 34       |
| 2941 | 1       | "2014-10-30" | 51   | 32   | "42" | "-4"   | 34       |
| 2942 | 2       | "2014-10-30" | 53   | 37   | "45" | "M"    | 35       |
| 2943 | 1       | "2014-10-31" | 47   | 33   | "40" | "-6"   | 25       |
| 2944 | 2       | "2014-10-31" | 49   | 34   | "42" | "M"    | 29       |

| Row  | WetBulb | Heat | Cool | Sunrise | Sunset | CodeSum    | Depth |
|------|---------|------|------|---------|--------|------------|-------|
| 1    | "56"    | "0"  | " 2" | "0448"  | "1849" | " "        | "0"   |
| 2    | "57"    | "0"  | " 3" | "-"     | "-"    | " "        | "M"   |
| 3    | "47"    | "14" | " 0" | "0447"  | "1850" | "BR"       | "0"   |
| 4    | "47"    | "13" | " 0" | "-"     | "-"    | "BR HZ"    | "M"   |
| 5    | "48"    | "9"  | " 0" | "0446"  | "1851" | " "        | "0"   |
| 6    | "50"    | "7"  | " 0" | "-"     | "-"    | "HZ"       | "M"   |
| 7    | "50"    | "7"  | " 0" | "0444"  | "1852" | "RA"       | "0"   |
| 8    | "50"    | "M"  | "M"  | "-"     | "-"    | " "        | "M"   |
| 9    | "49"    | "5"  | " 0" | "0443"  | "1853" | " "        | "0"   |
| 10   | "50"    | "5"  | " 0" | "-"     | "-"    | " "        | "M"   |
| 11   | "46"    | "6"  | " 0" | "0442"  | "1855" | " "        | "0"   |
⋮
| 2933 | "44"    | "12" | " 0" | "0617"  | "1654" | " "        | "0"   |
| 2934 | "45"    | "10" | " 0" | "-"     | "-"    | " "        | "M"   |
| 2935 | "58"    | "1"  | " 0" | "0618"  | "1653" | " "        | "0"   |
| 2936 | "59"    | "0"  | " 2" | "-"     | "-"    | "RA"       | "M"   |
| 2937 | "47"    | "8"  | " 0" | "0619"  | "1651" | " "        | "0"   |
| 2938 | "48"    | "8"  | " 0" | "-"     | "-"    | "RA"       | "M"   |
| 2939 | "40"    | "22" | " 0" | "0620"  | "1650" | " "        | "0"   |
| 2940 | "42"    | "20" | " 0" | "-"     | "-"    | " "        | "M"   |
| 2941 | "40"    | "23" | " 0" | "0622"  | "1649" | " "        | "0"   |
| 2942 | "42"    | "20" | " 0" | "-"     | "-"    | "RA"       | "M"   |
| 2943 | "33"    | "25" | " 0" | "0623"  | "1647" | "RA SN"    | "0"   |
| 2944 | "36"    | "23" | " 0" | "-"     | "-"    | "RA SN BR" | "M"   |

| Row  | Water1 | SnowFall | PrecipTotal | StnPressure | SeaLevel |
|------|--------|----------|-------------|-------------|----------|
| 1    | "M"    | "0.0"    | "0.00"      | "29.10"     | "29.82"  |
| 2    | "M"    | "M"      | "0.00"      | "29.18"     | "29.82"  |
| 3    | "M"    | "0.0"    | "0.00"      | "29.38"     | "30.09"  |
| 4    | "M"    | "M"      | "0.00"      | "29.44"     | "30.08"  |
| 5    | "M"    | "0.0"    | "0.00"      | "29.39"     | "30.12"  |
| 6    | "M"    | "M"      | "0.00"      | "29.46"     | "30.12"  |
| 7    | "M"    | "0.0"    | "  T"       | "29.31"     | "30.05"  |
| 8    | "M"    | "M"      | "0.00"      | "29.36"     | "30.04"  |
| 9    | "M"    | "0.0"    | "  T"       | "29.40"     | "30.10"  |
| 10   | "M"    | "M"      | "  T"       | "29.46"     | "30.09"  |
| 11   | "M"    | "0.0"    | "0.00"      | "29.57"     | "30.29"  |
⋮
| 2933 | "M"    | "0.0"    | "0.00"      | "29.21"     | "29.95"  |
| 2934 | "M"    | "M"      | "0.00"      | "29.28"     | "29.95"  |
| 2935 | "M"    | "0.0"    | "0.00"      | "28.92"     | "29.66"  |
| 2936 | "M"    | "M"      | "0.02"      | "29.00"     | "29.67"  |
| 2937 | "M"    | "0.0"    | "  T"       | "29.15"     | "29.85"  |
| 2938 | "M"    | "M"      | "0.03"      | "29.23"     | "29.85"  |
| 2939 | "M"    | "0.0"    | "0.00"      | "29.36"     | "30.06"  |
| 2940 | "M"    | "M"      | "0.00"      | "29.42"     | "30.07"  |
| 2941 | "M"    | "0.0"    | "0.00"      | "29.34"     | "30.09"  |
| 2942 | "M"    | "M"      | "  T"       | "29.41"     | "30.10"  |
| 2943 | "M"    | "0.1"    | "0.03"      | "29.49"     | "30.20"  |
| 2944 | "M"    | "M"      | "0.04"      | "29.54"     | "30.20"  |

| Row  | ResultSpeed | ResultDir | AvgSpeed |
|------|-------------|-----------|----------|
| 1    | 1.7         | 27        | "9.2"    |
| 2    | 2.7         | 25        | "9.6"    |
| 3    | 13.0        | 4         | "13.4"   |
| 4    | 13.3        | 2         | "13.4"   |
| 5    | 11.7        | 7         | "11.9"   |
| 6    | 12.9        | 6         | "13.2"   |
| 7    | 10.4        | 8         | "10.8"   |
| 8    | 10.1        | 7         | "10.4"   |
| 9    | 11.7        | 7         | "12.0"   |
| 10   | 11.2        | 7         | "11.5"   |
| 11   | 14.4        | 11        | "15.0"   |
⋮
| 2933 | 0.9         | 5         | "5.8"    |
| 2934 | 1.6         | 11        | "5.4"    |
| 2935 | 12.0        | 19        | "12.9"   |
| 2936 | 12.7        | 19        | "13.6"   |
| 2937 | 14.8        | 26        | "15.6"   |
| 2938 | 14.0        | 26        | "14.6"   |
| 2939 | 9.5         | 29        | "9.9"    |
| 2940 | 8.5         | 29        | "9.0"    |
| 2941 | 5.1         | 24        | "5.5"    |
| 2942 | 5.9         | 23        | "6.5"    |
| 2943 | 22.6        | 34        | "22.9"   |
| 2944 | 21.7        | 34        | "22.6"   |

###DataFrames can be subset by rows or columns

In [4]:
df[1:1]
df[2:10]
df[1:2,2:10]

2x9 DataFrame
| Row | Date         | Tmax | Tmin | Tavg | Depart | DewPoint | WetBulb | Heat |
|-----|--------------|------|------|------|--------|----------|---------|------|
| 1   | "2007-05-01" | 83   | 50   | "67" | "14"   | 51       | "56"    | "0"  |
| 2   | "2007-05-01" | 84   | 52   | "68" | "M"    | 51       | "57"    | "0"  |

| Row | Cool |
|-----|------|
| 1   | " 2" |
| 2   | " 3" |

In [9]:
names(df)

22-element Array{Symbol,1}:
 :Station
 :Date
 :Tmax
 :Tmin
 :Tavg
 :Depart
 :DewPoint
 :WetBulb
 :Heat
 :Cool
 :Sunrise
 :Sunset
 :CodeSum
 :Depth
 :Water1
 :SnowFall
 :PrecipTotal
 :StnPressure
 :SeaLevel
 :ResultSpeed
 :ResultDir
 :AvgSpeed

In [10]:
rename!(df,:Date,:Day)
df[:Day]

2944-element DataArray{UTF8String,1}:
 "2007-05-01"
 "2007-05-01"
 "2007-05-02"
 "2007-05-02"
 "2007-05-03"
 "2007-05-03"
 "2007-05-04"
 "2007-05-04"
 "2007-05-05"
 "2007-05-05"
 "2007-05-06"
 "2007-05-06"
 "2007-05-07"
 ⋮
 "2014-10-26"
 "2014-10-26"
 "2014-10-27"
 "2014-10-27"
 "2014-10-28"
 "2014-10-28"
 "2014-10-29"
 "2014-10-29"
 "2014-10-30"
 "2014-10-30"
 "2014-10-31"
 "2014-10-31"

###Can also use symbols as column names

In [27]:
df[:,[:Tmax,:Depart]]

2944x2 DataFrame
| Row  | Tmax | Depart |
|------|------|--------|
| 1    | 83   | "14"   |
| 2    | 84   | "M"    |
| 3    | 59   | "-3"   |
| 4    | 60   | "M"    |
| 5    | 66   | " 2"   |
| 6    | 67   | "M"    |
| 7    | 66   | " 4"   |
| 8    | 78   | "M"    |
| 9    | 66   | " 5"   |
| 10   | 66   | "M"    |
| 11   | 68   | " 4"   |
⋮
| 2933 | 64   | " 5"   |
| 2934 | 66   | "M"    |
| 2935 | 77   | "16"   |
| 2936 | 79   | "M"    |
| 2937 | 68   | "10"   |
| 2938 | 66   | "M"    |
| 2939 | 49   | "-4"   |
| 2940 | 49   | "M"    |
| 2941 | 51   | "-4"   |
| 2942 | 53   | "M"    |
| 2943 | 47   | "-6"   |
| 2944 | 49   | "M"    |

### Rows can be selected using selection criteria

In [11]:
df[df[:Tavg].==68,:]

0x22 DataFrame

In [30]:
df[df[:Cool].=="M",:Cool]

11-element DataArray{UTF8String,1}:
 "M"
 "M"
 "M"
 "M"
 "M"
 "M"
 "M"
 "M"
 "M"
 "M"
 "M"

###you can assing a value to each element of a DataArray

In [31]:
df[df[:Cool].=="M",:Cool] = NA

TypeError: type: non-boolean (NAtype) used in boolean context

###Here we change all "M" values to NA

In [6]:
df = readtable("input/weather.csv")
for name in names(df)
  df[df[name].=="M",name] = NA
end

###The RDatasets package provides plenty of Data to play with

In [21]:
using RDatasets

In [22]:
RDatasets.packages()

33x2 DataFrame
| Row | Package        |
|-----|----------------|
| 1   | "COUNT"        |
| 2   | "Ecdat"        |
| 3   | "HSAUR"        |
| 4   | "HistData"     |
| 5   | "ISLR"         |
| 6   | "KMsurv"       |
| 7   | "MASS"         |
| 8   | "SASmixed"     |
| 9   | "Zelig"        |
| 10  | "adehabitatLT" |
| 11  | "boot"         |
⋮
| 22  | "plm"          |
| 23  | "plyr"         |
| 24  | "pscl"         |
| 25  | "psych"        |
| 26  | "quantreg"     |
| 27  | "reshape2"     |
| 28  | "robustbase"   |
| 29  | "rpart"        |
| 30  | "sandwich"     |
| 31  | "sem"          |
| 32  | "survival"     |
| 33  | "vcd"          |

| Row | Title                                                                     |
|-----|---------------------------------------------------------------------------|
| 1   | "Functions, data and code for count data."                                |
| 2   | "Data sets for econometrics"                                              |
| 3   | "A Handbook of Statistical Analyses Using R (1st Edition)"                |
| 4   | "Data sets from the history of statistics and data visualization"         |
| 5   | "Data for An Introduction to Statistical Learning with Applications in R" |
| 6   | "Data sets from Klein and Moeschberger (1997), Survival Analysis"         |
| 7   | "Support Functions and Datasets for Venables and Ripley's MASS"           |
| 8   | "Data sets from \"SAS System for Mixed Models\""                            |
| 9   | "Everyone's Statistical Software"                                         |
| 10  | "Analysis of Animal Movements"                                            |
| 11  | "Bootstrap Functions (Originally by Angelo Canty for S)"                  |
⋮
| 22  | "Linear Models for Panel Data"                                            |
| 23  | "Tools for splitting, applying and combining data"                        |
| 24  | "Political Science Computational Laboratory, Stanford University"         |
| 25  | "Procedures for Psychological, Psychometric, and Personality Research"    |
| 26  | "Quantile Regression"                                                     |
| 27  | "Flexibly Reshape Data: A Reboot of the Reshape Package."                 |
| 28  | "Basic Robust Statistics"                                                 |
| 29  | "Recursive Partitioning and Regression Trees"                             |
| 30  | "Robust Covariance Matrix Estimators"                                     |
| 31  | "Structural Equation Models"                                              |
| 32  | "Survival Analysis"                                                       |
| 33  | "Visualizing Categorical Data"                                            |

In [23]:
RDatasets.datasets("COUNT")

15x5 DataFrame
| Row | Package | Dataset      | Title        | Rows  | Columns |
|-----|---------|--------------|--------------|-------|---------|
| 1   | "COUNT" | "affairs"    | "affairs"    | 601   | 18      |
| 2   | "COUNT" | "azdrg112"   | "azdrg112"   | 1798  | 4       |
| 3   | "COUNT" | "azpro"      | "azpro"      | 3589  | 6       |
| 4   | "COUNT" | "badhealth"  | "badhealth"  | 1127  | 3       |
| 5   | "COUNT" | "fasttrakg"  | "fasttrakg"  | 15    | 9       |
| 6   | "COUNT" | "lbw"        | "lbw"        | 189   | 10      |
| 7   | "COUNT" | "lbwgrp"     | "lbwgrp"     | 6     | 7       |
| 8   | "COUNT" | "loomis"     | "loomis"     | 410   | 11      |
| 9   | "COUNT" | "mdvis"      | "mdvis"      | 2227  | 13      |
| 10  | "COUNT" | "medpar"     | "medpar"     | 1495  | 10      |
| 11  | "COUNT" | "rwm"        | "rwm"        | 27326 | 4       |
| 12  | "COUNT" | "rwm5yr"     | "rwm5yr"     | 19609 | 17      |
| 13  | "COUNT" | "ships"      | "ships"      | 40    | 7       |
| 14  | "COUNT" | "titanic"    | "titanic"    | 1316  | 4       |
| 15  | "COUNT" | "titanicgrp" | "titanicgrp" | 12    | 5       |

In [24]:
lbw = dataset("COUNT", "lbw")

189x10 DataFrame
| Row | Low | Smoke | Race | Age | LWt | PTL | Ht | UI | FTV | BWt  |
|-----|-----|-------|------|-----|-----|-----|----|----|-----|------|
| 1   | 0   | 0     | 2    | 19  | 182 | 0   | 0  | 1  | 0   | 2523 |
| 2   | 0   | 0     | 3    | 33  | 155 | 0   | 0  | 0  | 3   | 2551 |
| 3   | 0   | 1     | 1    | 20  | 105 | 0   | 0  | 0  | 1   | 2557 |
| 4   | 0   | 1     | 1    | 21  | 108 | 0   | 0  | 1  | 2   | 2594 |
| 5   | 0   | 1     | 1    | 18  | 107 | 0   | 0  | 1  | 0   | 2600 |
| 6   | 0   | 0     | 3    | 21  | 124 | 0   | 0  | 0  | 0   | 2622 |
| 7   | 0   | 0     | 1    | 22  | 118 | 0   | 0  | 0  | 1   | 2637 |
| 8   | 0   | 0     | 3    | 17  | 103 | 0   | 0  | 0  | 1   | 2637 |
| 9   | 0   | 1     | 1    | 29  | 123 | 0   | 0  | 0  | 1   | 2663 |
| 10  | 0   | 1     | 1    | 26  | 113 | 0   | 0  | 0  | 0   | 2665 |
| 11  | 0   | 0     | 3    | 19  | 95  | 0   | 0  | 0  | 0   | 2722 |
⋮
| 178 | 1   | 1     | 1    | 17  | 120 | 0   | 0  | 0  | 3   | 2414 |
| 179 | 1   | 1     | 1    | 23  | 110 | 1   | 0  | 0  | 0   | 2424 |
| 180 | 1   | 0     | 2    | 17  | 120 | 0   | 0  | 0  | 2   | 2438 |
| 181 | 1   | 0     | 3    | 26  | 154 | 1   | 1  | 0  | 1   | 2442 |
| 182 | 1   | 0     | 3    | 20  | 106 | 0   | 0  | 0  | 3   | 2450 |
| 183 | 1   | 1     | 1    | 26  | 190 | 0   | 0  | 0  | 0   | 2466 |
| 184 | 1   | 1     | 3    | 14  | 101 | 1   | 0  | 0  | 0   | 2466 |
| 185 | 1   | 1     | 1    | 28  | 95  | 0   | 0  | 0  | 2   | 2466 |
| 186 | 1   | 0     | 3    | 14  | 100 | 0   | 0  | 0  | 2   | 2495 |
| 187 | 1   | 1     | 3    | 23  | 94  | 0   | 0  | 0  | 0   | 2495 |
| 188 | 1   | 0     | 2    | 17  | 142 | 0   | 1  | 0  | 0   | 2495 |
| 189 | 1   | 1     | 1    | 21  | 130 | 0   | 1  | 0  | 3   | 2495 |